<div class="page_wraper">
    <div class="container-fluid pl-0 pr-0 height-100">
        <div class="row height-100">
            <div class="col-lg-2  left-right height-100"  [ngClass]="{ 'active': !isSidebarVisible }" >
                <div class="side_ber height-100">
                    <!-- <a  class="close_btns" >
                        <i class="fa-solid fa-xmark"></i>
                    </a> -->
                    <app-sideber></app-sideber>
                </div>
            </div>
            <div class="col-lg-10 col-12 left-right height-100">
                <div class="header">
                    <app-header></app-header>
                </div>
                <div class="main_body_sections">
                    <router-outlet></router-outlet>
                </div>
                <!-- <div class="footer">
                    <app-footer></app-footer>
                </div> -->
            </div>
        </div>
    </div>
</div>