.notification_header>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 0;
}

.notification_header {
    border-bottom: 1px solid var(--Neutral-300, #DBDFE7);
    padding: 12px 16px;
}

.notification_center {
    border-radius: 4px;
    background: var(--text-icon-primary-white, #FFF);

/* Elevation/200 */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 0px 16px;
    padding-bottom: 24px !important;
}
.notification_container>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 4px;
}

.notification_container>h5 {
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/300/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 133.333% */
    letter-spacing: -0.06px;
}

.notification_items {
    justify-content: space-between;
}
.notification_items {
    padding: 12px 16px;
    border-bottom: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-0, #FFF);
}
.job_page_route_pages {
    padding-top: 24px;
}
.notification_areas {
    padding-top: 24px;
}