<div class="general-settings">
        <div class="inner_general_settings">
            <div class="card_items">
                <div class="card_headers">
                    <h2>Commission Rates</h2>
                </div>
                <div class="input_row">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="custom_inputs">
                                <label>Commission Rates</label>
                                <select name="" id="" class="form-select">
                                    <option value="">10%</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom_inputs">
                                <label>Clients/recruiters</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Dropdown to assign rates to clients/recruiters.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_items">
                <div class="card_headers">
                    <h2>API Integrations</h2>
                </div>
                <div class="input_row">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="custom_inputs">
                                <label>API keys</label>
                                <div class="fld_wrps">
                                    
                                    <select name="" id="" class="form-select">
                                        <option value="">10%</option>
                                    </select>
                                    <button>
                                        Conect
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_items">
                <div class="card_headers">
                    <h2>Email Templates</h2>
                </div>
                <div class="input_row">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input_areas_text">
                                <div class="custom_inputs">
                                    <label>Titile email</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="custom_inputs">
                                    <label>Content </label>
                                    <textarea placeholder="Content" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>