<div class="hiring-pipeline-wrapers">
    <div class="pipe_line_header">
        <h4>Hiring Pipeline</h4>
        <div class="seeall_wrapers">
            <button>
                See all
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M5.65 9.64999C5.55833 9.55833 5.51033 9.44166 5.506 9.29999C5.502 9.15833 5.54583 9.04166 5.6375 8.94999L8.0875 6.49999H2.5C2.35833 6.49999 2.2395 6.45199 2.1435 6.35599C2.04783 6.26033 2 6.14166 2 5.99999C2 5.85833 2.04783 5.73949 2.1435 5.64349C2.2395 5.54783 2.35833 5.49999 2.5 5.49999H8.0875L5.6375 3.04999C5.54583 2.95833 5.502 2.84166 5.506 2.69999C5.51033 2.55833 5.55833 2.44166 5.65 2.34999C5.74167 2.25833 5.85833 2.21249 6 2.21249C6.14167 2.21249 6.25833 2.25833 6.35 2.34999L9.65 5.64999C9.7 5.69166 9.7355 5.74366 9.7565 5.80599C9.77717 5.86866 9.7875 5.93333 9.7875 5.99999C9.7875 6.06666 9.77717 6.12916 9.7565 6.18749C9.7355 6.24583 9.7 6.29999 9.65 6.34999L6.35 9.64999C6.25833 9.74166 6.14167 9.7875 6 9.7875C5.85833 9.7875 5.74167 9.74166 5.65 9.64999Z" fill="#1D2433"/>
                      </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="hiring_table">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-left">Design Job</th>
                <th>Screening</th>
                <th>Submissions</th>
                <th>Interview</th>
                <th>Offered</th>
                <th>Hired</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="job_title_wrapers">
                    <h4 class="job_title">Research adn<br>Development Officer</h4>
                    <small>Fulltime</small>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M127 0H0V26H127V25.9904H133.729L141.676 13L133.729 0.00961876H127V0Z" fill="#7E55D7"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2133 13L2.78564 26H129.786V25.9904H134.93L142.374 13L134.93 0.00961876H129.786V0H2.78564L14.2133 13Z" fill="#0D85FE"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8132 13L2.3855 26H129.386V25.9904H134.53L141.973 13L134.53 0.00961876H129.386V0H2.3855L13.8132 13Z" fill="#F65656"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4133 13L2.9856 26H129.986V25.9904H135.13L142.573 13L135.13 0.00961876H129.986V0H2.9856L14.4133 13Z" fill="#EF681E"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0131 13L2.58545 26H129.585V25.9904H134.73L142.173 13L134.73 0.00961876H129.585V0H2.58545L14.0131 13Z" fill="#0A8F62"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="job_title_wrapers">
                    <h4 class="job_title">Research adn<br>Development Officer</h4>
                    <small>Fulltime</small>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M127 0H0V26H127V25.9904H133.729L141.676 13L133.729 0.00961876H127V0Z" fill="#7E55D7"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2133 13L2.78564 26H129.786V25.9904H134.93L142.374 13L134.93 0.00961876H129.786V0H2.78564L14.2133 13Z" fill="#0D85FE"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8132 13L2.3855 26H129.386V25.9904H134.53L141.973 13L134.53 0.00961876H129.386V0H2.3855L13.8132 13Z" fill="#F65656"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4133 13L2.9856 26H129.986V25.9904H135.13L142.573 13L135.13 0.00961876H129.986V0H2.9856L14.4133 13Z" fill="#EF681E"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0131 13L2.58545 26H129.585V25.9904H134.73L142.173 13L134.73 0.00961876H129.585V0H2.58545L14.0131 13Z" fill="#0A8F62"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="job_title_wrapers">
                    <h4 class="job_title">Research adn<br>Development Officer</h4>
                    <small>Fulltime</small>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M127 0H0V26H127V25.9904H133.729L141.676 13L133.729 0.00961876H127V0Z" fill="#7E55D7"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2133 13L2.78564 26H129.786V25.9904H134.93L142.374 13L134.93 0.00961876H129.786V0H2.78564L14.2133 13Z" fill="#0D85FE"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8132 13L2.3855 26H129.386V25.9904H134.53L141.973 13L134.53 0.00961876H129.386V0H2.3855L13.8132 13Z" fill="#F65656"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4133 13L2.9856 26H129.986V25.9904H135.13L142.573 13L135.13 0.00961876H129.986V0H2.9856L14.4133 13Z" fill="#EF681E"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0131 13L2.58545 26H129.585V25.9904H134.73L142.173 13L134.73 0.00961876H129.585V0H2.58545L14.0131 13Z" fill="#0A8F62"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="job_title_wrapers">
                    <h4 class="job_title">Research adn<br>Development Officer</h4>
                    <small>Fulltime</small>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M127 0H0V26H127V25.9904H133.729L141.676 13L133.729 0.00961876H127V0Z" fill="#7E55D7"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2133 13L2.78564 26H129.786V25.9904H134.93L142.374 13L134.93 0.00961876H129.786V0H2.78564L14.2133 13Z" fill="#0D85FE"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8132 13L2.3855 26H129.386V25.9904H134.53L141.973 13L134.53 0.00961876H129.386V0H2.3855L13.8132 13Z" fill="#F65656"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4133 13L2.9856 26H129.986V25.9904H135.13L142.573 13L135.13 0.00961876H129.986V0H2.9856L14.4133 13Z" fill="#EF681E"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0131 13L2.58545 26H129.585V25.9904H134.73L142.173 13L134.73 0.00961876H129.585V0H2.58545L14.0131 13Z" fill="#0A8F62"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="job_title_wrapers">
                    <h4 class="job_title">Research adn<br>Development Officer</h4>
                    <small>Fulltime</small>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M127 0H0V26H127V25.9904H133.729L141.676 13L133.729 0.00961876H127V0Z" fill="#7E55D7"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2133 13L2.78564 26H129.786V25.9904H134.93L142.374 13L134.93 0.00961876H129.786V0H2.78564L14.2133 13Z" fill="#0D85FE"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8132 13L2.3855 26H129.386V25.9904H134.53L141.973 13L134.53 0.00961876H129.386V0H2.3855L13.8132 13Z" fill="#F65656"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="26" viewBox="0 0 145 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4133 13L2.9856 26H129.986V25.9904H135.13L142.573 13L135.13 0.00961876H129.986V0H2.9856L14.4133 13Z" fill="#EF681E"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
                <td >
                  <div class="arrow">
                    <span class="ff_arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="144" height="26" viewBox="0 0 144 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0131 13L2.58545 26H129.585V25.9904H134.73L142.173 13L134.73 0.00961876H129.585V0H2.58545L14.0131 13Z" fill="#0A8F62"/>
                      </svg>
                    </span>
                    <span class="count_number_table">55</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>