.search_box>input {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-0, #FFF);
    padding: 8px 16px;
    width: 100%;
    padding-left: 32px;
    outline: none;
}

.search_box {
    position: relative;
}

.search_box>span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
}
::placeholder{
    color: var(--text-icon-disabled-black, rgba(29, 36, 51, 0.56));
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.08px;
}
.next_dashboard_wrapers {
    margin-top: 12px;
}
/*faq table*/
.left_column>h4 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/100/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 150% */
    letter-spacing: -0.08px;
    margin-bottom: 0;
}

.left_column>button {
    border-radius: 4px;
    border: 1px solid #CBD5E1;
    background: #F8FAFC;
    padding: 6px;
    color: var(--Blue-800, #1D45D6);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/100/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 150% */
    letter-spacing: -0.08px;
}

.today_headers>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 20px;
}

.main_table_header {
    background: var(--Neutral-200, #EEF0F4);
    padding: 16px;
}

.main_request_wrapers {
    border-radius: 4px;
    background: var(--text-icon-primary-white, #FFF);

/* Elevation/200 */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 24px;
}

.next_calender_sections {
    margin-top: 24px;
}
.left_column{
    gap: 14px;
}

.schedule-container {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .card {
    border: none;
  }
  
  .card-body {
    display: flex;
    align-items: center;
  }
  
  .badge {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .avatars img {
    margin-left: -10px;
    border: 2px solid #fff;
  }
  .schedule-container {
    border-radius: 4px;
    background: var(--text-icon-primary-white, #FFF);

/* Elevation/200 */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
}
.schedule-header>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 8px;
}
.schedule-header>p {
    color: var(--text-icon-disabled-black, rgba(29, 36, 51, 0.56));
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 10px;
}
/*calender*/
.schedule-header>p {
    color: var(--text-icon-disabled-black, rgba(29, 36, 51, 0.56));
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 0px;
}

/*meeting*/
.upcoming_header>h4 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1px; /* 120% */
    letter-spacing: -0.2px;
}

.upcoming_header>h4 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
}

.upcoming_header {
    margin-bottom: 0px;
}

.event_date>h4 {
    background: var(--Yellow-700, #FBBF23);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/400/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: -0.05px;
    margin-bottom: 0;
}



.event_date {
    width: 32px;
    height: 32px;
}

.event_date>p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.06px;
    margin-bottom: 0;
}

.event_date {
    background: var(--Neutral-300, #DBDFE7);
    border-radius: 4px;
    overflow: hidden;
}

.event_top_title>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 0;
}

.event_top_title>p {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/300/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.06px;
    margin-bottom: 0;
}
/*meeting item*/
.meet_tool_column>p {
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 133.333% */
    letter-spacing: -0.06px;
    margin-bottom: 0;
}

.meet_tool_column {
    display: flex;
    align-items: center;
    gap: 5px;
}

span.meet_tool_score_column_title {
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 133.333% */
    letter-spacing: -0.06px;
}

.meet_tool_score_column {
    display: flex;
    align-items: center;
    gap: 4px;
}

.event_bottom_tool {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event_top_title {
    margin-bottom: 8px;
}
.user_count_image {
    margin-top: 8px;
}
.event_item {
    border-bottom: 1px solid var(--Neutral-300, #DBDFE7);
    padding: 16px 0px;
}
.event_item::first-child {
    padding-top: 0px;
}
.button_wrapers>button {
    display: flex;
    padding: 9px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/200 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: -0.07px;
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-primary-white, #FFF);
    width: 100%;
}

.button_wrapers {
    margin-top: 16px;
}
.combos_wrapers {
    display: flex;
    align-items: center;
    gap: 16px;
}
.user_count_image{
    margin-top: 0px;
}
.main_request_wrapers {
    margin-bottom:20px;
}
.date_headers>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 0;
}

.date_headers {
    border-radius: 4px;
    background: #F1F5F9;
    padding: 8px 16px;
}
button.add_job_btns {
    border-radius: 4px;
    background: var(--Yellow-700, #FBBF23);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    line-height: 1;
    border: none;
    outline: none;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.08px;
}

.add_wrapers {
    display: flex;
    justify-content: end;
}
/* add interview popup */
.add_interview_popup_sections {
    border-radius: 4px;
    background: #FFF;
}

.add_popup_header>h3 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 116.667% */
    letter-spacing: -0.48px;
    margin-bottom: 0;
}

a.close_p_btn {
    border-radius: 100px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-100, #F2F4F7);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_popup_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}
.addInterviewPopup {
    width: 100%;
}
.custom_input>label {
    color: var(--text-icon-primary-black, #1D2433);

/* Label/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.08px;
    margin-bottom: 8px;
}

.custom_input>input {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-0, #FFF);
}

.custom_input>textarea {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-0, #FFF);
}

.custom_input {
    margin-bottom: 20px;
}
.add_interview_popup_sections {
    display: flex;
    width: 854px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px -1px 4px 2px #00000033;
    z-index: 999;
}
.bg_blur {
    background: rgba(29, 36, 51, 0.55);
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}
button.cancel {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-primary-white, #FFF);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
    line-height: 1;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 16px; */ /* 100% */
    letter-spacing: -0.08px;
}
button.cancel {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-primary-white, #FFF);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
    line-height: 1;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 16px; */ /* 100% */
    letter-spacing: -0.08px;
}

button.save_interview {
    border-radius: 4px;
    background: var(--Yellow-700, #FBBF23);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: -0.08px;
    border: none;
    width: 100%;
}
@media only screen and (max-width: 999px) and (min-width: 300px) {
    .add_interview_popup_sections {
        width: 90% ;
    }
    .wrap_radio.d-flex {
        flex-wrap: wrap;
    }


    .bottom_section_rq {
        grid-template-columns: repeat(2, 3fr);
        gap: 8px;
    }
    .column_rq> h4{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.07px;
        margin-bottom: 0;
    }
    button.req_status {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
    }
    .request_header  > h4 {
        font-size: 12px;
    }
    .request_items  {
    
        padding: 20px 15px;
    }


    .bottom_section_rq {
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    button.del_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    button.view_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    .right_rq {
        justify-content: space-between !important;
        width: 100%;
    }
    
    button.pipeline_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    button.view_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    .combos_wrapers {
        flex-direction: column;
        gap: 4px !important;
    }
    .main_calender {
        margin-bottom: 18px;
    }
    button.add_job_btns {
        display: flex;
        padding: 12px 10px;
        gap: 8px;
        font-size: 12px;
    }
}