<div class="assigned-headhunter">
    <div class="inner_sh">
        <div class="ah_header">
            <h4>Client Information</h4>
        </div>
        <div class="client_bodys">
            <div class="client_items">
                <h3>Client Name</h3>
                <h4>ABC Corp</h4>
            </div>
            <div class="client_items">
                <h3>Email</h3>
                <h4>john.smithabccorp.com</h4>
            </div>
            <div class="client_items">
                <h3>Phone</h3>
                <h4>+1 234 567 890</h4>
            </div>
        </div>
    </div>
</div>