<div class="candidate_sections" >
    <div class="container-fluid">
        <div class="personalInformation">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="personalInformation_card">
                        <div class="card_form">
                            <div class="input_overView_boxs">
                                <label for="">Total Earnings</label>
                                <h4>$5000</h4>
                            </div>
                            <div class="input_overView_boxs">
                                <label for="">Withdrawn</label>
                                <h4>$2000</h4>
                            </div>
                            <div class="input_overView_boxs">
                                <label for="">Available for Withdrawal</label>
                                <h4>$3000</h4>
                                <div class="button_wraperss">
                                    <button>
                                        Withdraw Funds
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>