<div class="dash_board_wrapers">
    <dashboard-title [text]="headingText" ></dashboard-title>
    <!-- <dashboard-score></dashboard-score> -->
     <amindashboard-score></amindashboard-score>
    <!-------------------------next wraper sections---------------------->
    <div class="next_dashboard_wrapers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="wraper">
                        <earnings-trend></earnings-trend>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="pending-action">
                        <notifications></notifications>
                        <!-- <pending-action></pending-action> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next_dashboard_wrapers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="wraper">
                        <jobs-performance></jobs-performance>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="pending-action">
                        <user-growth></user-growth>
                        <!-- <pending-action></pending-action> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next_dashboard_wrapers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="wraper">
                        <job-overview></job-overview>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
