<div class="requestsfrom-headhunters">
    <div class="inner-requestsfrom-headhunters">
        <div class="requestsfrom-headhunters-header">
            <h3>Requests from Headhunters</h3>
        </div>
    </div>
    <div class="inner_body">
        <div class="requestsfrom-headhunters-items">
            <div class="requestsfrom-head">
                <h4>1. Beta Talent Agency</h4>
            </div>
            <div class="rs_content">
                <div class="rc_item">
                    <h4>Received</h4>
                    <h3>12/12/2024</h3>
                </div>
                <div class="rc_item">
                    <h4>Specialization</h4>
                    <h3>UI/UX & Product Design placements</h3>
                </div>
                <div class="rc_item border_none">
                    <div class="rc_btn_wrapers">
                        <button class="dc_buttons">Decline</button>
                        <button class="ac_buttons">Apccept</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="requestsfrom-headhunters-items">
            <div class="requestsfrom-head">
                <h4>2. Global HeadHunt Co.</h4>
            </div>
            <div class="rs_content">
                <div class="rc_item">
                    <h4>Received</h4>
                    <h3>12/12/2024</h3>
                </div>
                <div class="rc_item">
                    <h4>Specialization</h4>
                    <h3>UI/UX & Product Design placements</h3>
                </div>
                <div class="rc_item border_none">
                    <div class="rc_btn_wrapers">
                        <button class="dc_buttons">Decline</button>
                        <button class="ac_buttons">Apccept</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="requestsfrom-headhunters-items">
            <div class="requestsfrom-head">
                <h4>3. NextLevel Recruiters</h4>
            </div>
            <div class="rs_content">
                <div class="rc_item">
                    <h4>Received</h4>
                    <h3>12/12/2024</h3>
                </div>
                <div class="rc_item">
                    <h4>Specialization</h4>
                    <h3>UI/UX & Product Design placements</h3>
                </div>
                <div class="rc_item border_none">
                    <div class="rc_btn_wrapers">
                        <button class="dc_buttons">Decline</button>
                        <button class="ac_buttons">Apccept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>