<div class="wraping_over">
    <div class="wrapes_boxs_sections">
        <div class="summery_box_header">
            <h4>Past Interviews</h4>
            <div class="pipeline_button">
                <button>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path d="M6 9.5C5.85833 9.5 5.73967 9.452 5.644 9.356C5.548 9.26033 5.5 9.14167 5.5 9V6.5H3C2.85833 6.5 2.7395 6.452 2.6435 6.356C2.54783 6.26033 2.5 6.14167 2.5 6C2.5 5.85833 2.54783 5.7395 2.6435 5.6435C2.7395 5.54783 2.85833 5.5 3 5.5H5.5V3C5.5 2.85833 5.548 2.7395 5.644 2.6435C5.73967 2.54783 5.85833 2.5 6 2.5C6.14167 2.5 6.2605 2.54783 6.3565 2.6435C6.45217 2.7395 6.5 2.85833 6.5 3V5.5H9C9.14167 5.5 9.26033 5.54783 9.356 5.6435C9.452 5.7395 9.5 5.85833 9.5 6C9.5 6.14167 9.452 6.26033 9.356 6.356C9.26033 6.452 9.14167 6.5 9 6.5H6.5V9C6.5 9.14167 6.45217 9.26033 6.3565 9.356C6.2605 9.452 6.14167 9.5 6 9.5Z" fill="#1D2433"/>
                          </svg>
                    </span>
                    Add New Interview
                    
                </button>
            </div>
        </div>
    </div>
    <!-- Job Applied -->
     <div class="jobApplied_sections">
        <div class="inner_jobApplied_sections">
            <div class="job_details">
                <div class="inner_job_details">
                    
                    <div class="job_details_body">
                        <div class="top_user_rows">
                            <div  class="user_dtls_wrapers">
                                <div  class="user_dtl">
                                    <div  class="user_image">
                                        <img src="assets/img/g.png" alt="" srcset="">
                                    </div>
                                    <div class="wrape_dtl_row">
                                        <div  class="dtl_columns">
                                            <h4 > Sarah Tran </h4>
                                            <h5 > Head of R&D</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="item_rows">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Date</h4>
                                        <h3>15/12/2024</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Time</h4>
                                        <h3>10:00 AM</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Mode</h4>
                                        <h3>Online ( Zoom)</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Satus</h4>
                                        <button class="full_time">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                    <ellipse cx="6" cy="6" rx="3" ry="3" fill="#1B5E20"/>
                                                  </svg>
                                            </span>
                                            Completed </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------Next Job Details-------------->
                        <div class="item_rows last">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="item_details_for_job">
                                        <h4>Note</h4>
                                        <h3>Candidate is strong in technical knowledge</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                   
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------------------------Next job------------------------------->
            <div class="job_details">
                <div class="inner_job_details">
                    
                    <div class="job_details_body">
                        <div class="top_user_rows">
                            <div  class="user_dtls_wrapers">
                                <div  class="user_dtl">
                                    <div  class="user_image">
                                        <img src="assets/img/g.png" alt="" srcset="">
                                    </div>
                                    <div class="wrape_dtl_row">
                                        <div  class="dtl_columns">
                                            <h4 > Sarah Tran </h4>
                                            <h5 > Head of R&D</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="item_rows">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Date</h4>
                                        <h3>15/12/2024</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Time</h4>
                                        <h3>10:00 AM</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Mode</h4>
                                        <h3>Offline (Office, New York)</h3>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item_details_for_job">
                                        <h4>Satus</h4>
                                        <button class="open_time">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                    <ellipse cx="6" cy="6" rx="3" ry="3" fill="#1B5E20"/>
                                                  </svg>
                                            </span>
                                            Scheduled </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------Next Job Details-------------->
                        <div class="item_rows last">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="item_details_for_job">
                                        <h4>Note</h4>
                                        <h3>Candidate is strong in technical knowledge</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                   
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- .comment_sections -->
</div>