.seeall_wrapers>button {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-primary-white, #FFF);
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/200 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: -0.07px;
    display: flex;
    padding: 9px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.pipe_line_header>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 0;
}

.pipe_line_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search_fielder input,select {
    border-radius: 4px;
   border: 1px solid var(--Neutral-300, #DBDFE7);
   padding-left: 28px;
   color: var(--text-icon-disabled-black, rgba(29, 36, 51, 0.56));
   font-feature-settings: 'liga' off, 'clig' off;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   letter-spacing: -0.08px;




}

.search_fielder {
   position: relative;
}

.search_fielder span {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 10px;
}
.search_vontroller {
    margin-top: 12px;
    margin-bottom: 24px;
}


.request_items {
    border-radius: 4px;
    background: var(--text-icon-primary-white, #FFF);

/* Elevation/200 */
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 24px;
}

.request_header>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/300/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 120% */
    letter-spacing: -0.2px;
    margin-bottom: 0;
}

button.req_status {
    border-radius: 4px;
    border: 1px solid #CBD5E1;
    background: #F8FAFC;
    color: var(--Blue-800, #1D45D6);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/100/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.08px;
}

.request_header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rq_boxs {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-100, #F2F4F7);
    padding: 12px 16px;
    margin-top: 12px;
}

.left_rq>h4 {
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/100/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 150% */
    letter-spacing: -0.08px;
    margin-bottom: 8px;
}

.column_rq>h5 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    opacity: 0.6;
}

span.inprog {
    border-radius: 4px;
    background: #B39DDB;
    color: #4A148C;
}

.column_rq>span {
    padding: 2px 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.07px;
}

.column_rq>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 0;
}

.bottom_section_rq {
    display: flex;
    gap: 24px;
}
button.view_rq {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-secondary-white, rgba(255, 255, 255, 0.75));
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    text-align: center;

/* Button/300 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: -0.06px;
    padding: 10px 12px;
}
span.accept {
    border-radius: 4px;
    background: #A5D6A7;
    color: #1B5E20;
}
span.declined{
    border-radius: 4px;
    background: #F3C5C7;
    color: #C91D25;
}
button.del_rq {
    border-radius: 4px;
    background: var(--Danger-700, #F2271C);
    padding: 12px 10px;
    color: var(--text-icon-primary-white, #FFF);
    text-align: center;

/* Button/200 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: -0.07px;
    border: none;
    outline: none;
}

.right_rq {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: end;
}
.right_rq {
    height: 100%;
}
button.pipeline_rq {
    border-radius: 4px;
    background: var(--Yellow-700, #FBBF23);
    padding: 10px 10px;
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: -0.07px;
    border: none;
    outline: none;
}
.request_items {
    margin-bottom: 24px;
}




/*popup main sections*/
.widdrawl_popups {
    display: flex;
    width: 509px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px -1px 11px 2px #0000001a;
}

.inner_widdrawl_popups {
    width: 100%;
}

.widdrawl_header>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Headline/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.48px;
    margin-bottom: 0;
}

span.close_buttons {
    border-radius: 100px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--Neutral-100, #F2F4F7);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.widdrawl_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widdrawl_inputs>label {
    color: var(--text-icon-primary-black, #1D2433);

/* Label/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.08px;
    margin-bottom: 8px;
}

.widdrawl_inputs>select {
    border-radius: 4px;
    padding: 8px 10px;
}

.widdrawl_inputs>input {
    border-radius: 4px;
    padding: 8px 10px;
}

.widdrawl_inputs {
    margin-bottom: 24px;
}
button.cancel_form {
    border-radius: 4px;
    border: 1px solid var(--Neutral-300, #DBDFE7);
    background: var(--text-icon-primary-white, #FFF);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
    color: var(--text-icon-primary-black, #1D2433);
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.08px;
}

button.confirm {
    border-radius: 4px;
    background: var(--Yellow-700, #FBBF23);
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    text-align: center;

/* Button/100 */
    /* font-family: "Helvetica Now Text "; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.08px;
}

.gap-8 {
    gap: 8px;
}

.widdrawl_header {
    margin-bottom: 24px;
}
.widdrawl_popups {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.bg_blur {
    background: rgba(29, 36, 51, 0.55);
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.view_profile_items>label {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    opacity: 0.6;
}

.view_profile_items>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 0;
}

.view_profile_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px solid #DBDFE7;
}
.widdrawl_btns_section.margin-24{
    margin-top: 24px;
}
h4.line-height{
    line-height: unset !important;
}
.confirm.delete_con{
    border-radius: 4px;
background: var(--Yellow-700, #FBBF23);
color: var(--text-icon-secondary-black, rgba(29, 36, 51, 0.80));
    text-align: center;
}
.view_profile_items.d-block>h4 {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Heavy */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600 !important;
    /* FONT-WEIGHT: 600; */ /* 142.857% */
    letter-spacing: -0.07px;
}

.view_profile_items.d-block {
    border-radius: 4px;
    background: var(--Neutral-100, #F2F4F7);
    padding: 12px;
    margin-bottom: 24px;
    border-bottom: none;
}

.view_profile_items.d-block>ul {
    margin-bottom: 0;
    padding-left: 18px;
}

.view_profile_items.d-block>ul>li {
    color: var(--text-icon-primary-black, #1D2433);
    font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph/200/Light */
    /* font-family: "Helvetica Now Text "; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
    margin-bottom: 10px;
}
.d-flex.align-items-center.gap-8.wid_hals>button {
    width: 64%;
    margin: auto;
}
@media only screen and (max-width: 999px) and (min-width: 300px) {

    .bottom_section_rq {
        grid-template-columns: repeat(2, 3fr);
        gap: 8px;
    }
    .column_rq> h4{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.07px;
        margin-bottom: 0;
    }
    button.req_status {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
    }
    .request_header  > h4 {
        font-size: 12px;
    }
    .request_items  {
    
        padding: 20px 15px;
    }


    .bottom_section_rq {
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    button.del_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    button.view_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    .right_rq {
        justify-content: space-between !important;
        width: 100%;
    }
    
    button.pipeline_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    
    button.view_rq {
        font-size: 10px !important;
        padding: 9px 10px !important;
    }
    .combos_wrapers {
        flex-direction: column;
        gap: 4px !important;
    }
    .widdrawl_popups{
        width: 88%;
        margin: auto;
    }
}