<div class="chart-container">
    <div class="chart_headings">
        <h4>
           Recruitment Performance Insights
        </h4>
    </div>
    <div class="chart_fields">
        <div class="inner_chart_fields">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input_wrapers">
                        <label for="">Jobs</label>
                        <div class="input_field">
                            <select name="" id="" class="form-select">
                                <option value="">
                                    Junior Graphics Designer (Web)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input_wrapers">
                        <label for="">Number Days</label>
                        <div class="input_field">
                            <select name="" id="" class="form-select">
                                <option value="">
                                    7 days
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="chart_height" style="width: 100%; height: 400px;">
        <!-- <canvas #chartCanvas></canvas> -->
        <canvas #chartCanvas></canvas>
      </div>
      
  </div>
  