<div class="pending_action_wrapers">
    <div class="pending_action_inner_wrapers">
        <div class="pending_action_header">
            <span class="call_icons">
                <img src="assets/img/call.png" alt="" srcset="">
            </span>
            <h4>Pending Actions</h4>
        </div>
        <div class="pending_action_inner_section">
            <div class="candiet_items">
                <div class="candiet_icons">
                    <span>
                        <img src="assets/img/user_icons.png" alt="" srcset="">
                    </span>
                </div>
                <div class="candieat_contents">
                    <h4><span>5 candidate</span> profiles awaiting approval</h4>
                    <div class="can_tools">
                        <div class="can_tool_column">
                            <button class="gray_btns">View</button>
                        </div>
                        <div class="can_tool_column">
                            <button class="yellow_btn">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="candiet_items">
                <div class="candiet_icons">
                    <span>
                        <img src="assets/img/icc.png" alt="" srcset="">
                    </span>
                </div>
                <div class="candieat_contents">
                    <h4><span>5 candidate</span> profiles awaiting approval</h4>
                    <div class="can_tools">
                        <div class="can_tool_column">
                            <button class="gray_btns">View</button>
                        </div>
                        <div class="can_tool_column">
                            <button class="yellow_btn">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="candiet_items">
                <div class="candiet_icons">
                    <span>
                        <img src="assets/img/bill.png" alt="" srcset="">
                    </span>
                </div>
                <div class="candieat_contents">
                    <h4><span>5 candidate</span> profiles awaiting approval</h4>
                    <div class="can_tools">
                        <div class="can_tool_column">
                            <button class="gray_btns">View</button>
                        </div>
                        <div class="can_tool_column">
                            <button class="yellow_btn">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="candiet_items">
                <div class="candiet_icons">
                    <span>
                        <img src="assets/img/user_icons.png" alt="" srcset="">
                    </span>
                </div>
                <div class="candieat_contents">
                    <h4><span>5 candidate</span> profiles awaiting approval</h4>
                    <div class="can_tools">
                        <div class="can_tool_column">
                            <button class="gray_btns">View</button>
                        </div>
                        <div class="can_tool_column">
                            <button class="yellow_btn">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seeall_section">
            <button class="see_all_btn">
                See all 
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M5.65 9.65002C5.55833 9.55836 5.51033 9.44169 5.506 9.30003C5.502 9.15836 5.54583 9.04169 5.6375 8.95003L8.0875 6.50002H2.5C2.35833 6.50002 2.2395 6.45202 2.1435 6.35602C2.04783 6.26036 2 6.14169 2 6.00002C2 5.85836 2.04783 5.73952 2.1435 5.64352C2.2395 5.54786 2.35833 5.50002 2.5 5.50002H8.0875L5.6375 3.05002C5.54583 2.95836 5.502 2.84169 5.506 2.70002C5.51033 2.55836 5.55833 2.44169 5.65 2.35002C5.74167 2.25836 5.85833 2.21252 6 2.21252C6.14167 2.21252 6.25833 2.25836 6.35 2.35002L9.65 5.65002C9.7 5.69169 9.7355 5.74369 9.7565 5.80603C9.77717 5.86869 9.7875 5.93336 9.7875 6.00002C9.7875 6.06669 9.77717 6.12919 9.7565 6.18752C9.7355 6.24586 9.7 6.30002 9.65 6.35002L6.35 9.65002C6.25833 9.74169 6.14167 9.78753 6 9.78753C5.85833 9.78753 5.74167 9.74169 5.65 9.65002Z" fill="#1D2433"/>
                      </svg>
                </span>
            </button>
        </div>
    </div>
</div>