<div class="candidate_sections" >
    <div class="container-fluid">
        <div class="personalInformation">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="personalInformation_card">
                        <div class="card_image_header">
                            <div class="profile_image_box">
                                <span class="profile_iamges">
                                    <img src="assets/img/a8.png" alt="">
                                </span>
                                <div class="file_upload">
                                    <input type="file">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M13.3333 2.66732H11.2199L9.99992 1.33398H5.99992L4.77992 2.66732H2.66659C1.93325 2.66732 1.33325 3.26732 1.33325 4.00065V12.0007C1.33325 12.734 1.93325 13.334 2.66659 13.334H13.3333C14.0666 13.334 14.6666 12.734 14.6666 12.0007V4.00065C14.6666 3.26732 14.0666 2.66732 13.3333 2.66732ZM13.3333 12.0007H2.66659V4.00065H5.36659L6.58659 2.66732H9.41325L10.6333 4.00065H13.3333V12.0007ZM7.99992 4.66732C6.15992 4.66732 4.66659 6.16065 4.66659 8.00065C4.66659 9.84065 6.15992 11.334 7.99992 11.334C9.83992 11.334 11.3333 9.84065 11.3333 8.00065C11.3333 6.16065 9.83992 4.66732 7.99992 4.66732ZM7.99992 10.0007C6.89992 10.0007 5.99992 9.10065 5.99992 8.00065C5.99992 6.90065 6.89992 6.00065 7.99992 6.00065C9.09992 6.00065 9.99992 6.90065 9.99992 8.00065C9.99992 9.10065 9.09992 10.0007 7.99992 10.0007Z" fill="#1D2433"/>
                                          </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card_form">
                            <div class="input_row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input_fields">
                                                <label for="">Specialization</label>
                                                <input type="text" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input_fields">
                                                <label for="">Experience</label>
                                                <input type="text" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input_fields">
                                                <label for="">Skills</label>
                                                <select name="" id="" class="form-select">
                                                    <option value="">UI/UX</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input_fields">
                                                <label for="">LinkedIn</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="button_wrapes">
                                                <button>
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>